@media (max-width: 800px)

    noscript

        h1
            font-size: 3rem

    #contact

        div
            flex-flow: column

            .left
                text-align: center
                padding: 0
                
                a
                    font-size: 0.9em

            .right  
                align-items: center
                padding: 0

    #footer

        div
            width: 60vw

            div
                text-align: center

    #projects

        #projects-content
            width: 90vw

    header

        nav
            padding-right: 30px

@media (max-width: 640px)

    noscript

        h1
            font-size: 2rem

    header
        padding: 20px
        display: flex
        justify-content: center
        
        nav
            flex-flow: column
            padding: 0
            
            div:first-child
                margin-bottom: 10px

            div:last-child

                a:first-child
                    margin: 0
                        
        
        section

            h1
                text-align: center

@media (max-width: 540px)

    #about

        p
            width: 80vw

    #projects 

        #projects-content
            width: 70vw

            .image-container
                flex: 1 100%
    
    #footer

        div
            width: 90vw

@media (max-width: 440px)

    #projects 
        position: relative
        z-index: 2

        #projects-content
            width: 80vw

            .image-container

                .content-details
                    width: 100%

                    a
                        border: solid 1px rgba(0,0,0,0.7)
                        padding-top: 4px
                        margin-left: 10px
                        margin-right: 10px

                        &:hover
                            transform: unset

    #contact

        div

            .left

                a
                    margin: 0 auto

                    &:hover
                        transform: unset

                    span
                        display: table-cell
                        background-color: rgba(255,255,255,0.7)
                        border-radius: 10px
                        border: solid 1px rgba(0,0,0,0.4)  
                        margin: 5px 0
                        padding: 0 10px 
                        height: 30px
                        line-height: 30px
                        font:
                            size: 0.75em


            .right

                a
                    margin-top: 5px

                    &:hover
                        transform: unset
                    
                    span
                        display: table-cell
                        background-color: rgba(255,255,255,0.7)
                        border-radius: 10px
                        border: solid 1px rgba(0,0,0,0.4)  
                        margin: 5px 0
                        padding: 0 10px 
                        height: 30px
                        line-height: 30px
                        
                        
    header

        nav
            font:
                size: 0.8em
            padding: 0
            width: 100%
            z-index: 0

            div:last-child
                justify-content: space-between
                width: 90%

                a
                    margin: 0

                    &:hover
                        transform: unset
                    
                    span
                        display: table-cell
                        background-color: rgba(255,255,255,0.7)
                        border-radius: 10px
                        border: solid 1px rgba(0,0,0,0.4)  
                        margin: 5px 0
                        padding: 0 7px 
                        height: 25px
                        line-height: 25px
                        color: rgba(0,0,0,0.7)

        section
            
            h1
                font-size: 3rem

            .kicker
                font-size: 1.5rem