@media (max-width: 800px)

    #contact

        div
            flex-flow: column

            .left
                text-align: center
                padding: 0
                
                a
                    font-size: 0.9em

            .right  
                align-items: center
                padding: 0

    #footer

        div
            width: 60vw

            div
                text-align: center

    #projects

        #projects-content
            width: 90vw

    header

        nav
            padding-right: 30px

@media (max-width: 640px)

    header
        padding: 20px
        display: flex
        justify-content: center
        
        nav
            flex-flow: column
            padding-right: 0
            
            div:first-child
                margin-bottom: 10px

            div:last-child

                a:first-child

                    p
                        margin: 0
        
        section

            h1
                text-align: center

@media (max-width: 540px)

    #about

        p
            width: 80vw

    #projects 

        #projects-content
            width: 70vw

            .image-container
                flex: 1 100%
    
    #footer

        div
            width: 90vw

@media (max-width: 440px)

    #projects 

        #projects-content
            width: 80vw

    #contact

        div

            .left

                span
                    
                    background-color: rgba(255,255,255,0.7)
                    border-radius: 10px
                    line-height: 30px
                    border: solid 1px rgba(0,0,0,0.4)

                    a
                        font:
                            size: 0.75em

            .right

                span:last-child, span:nth-child(3)
                    background-color: rgba(255,255,255,0.7)
                    border-radius: 10px
                    line-height: 30px
                    border: solid 1px rgba(0,0,0,0.4)  
                    margin: 5px 0

                    a
                        padding: 0 10px 
    header

        nav
            font:
                size: 0.8em
            padding: 0
            width: 100%

            div:last-child
                justify-content: space-between
                width: 90%

                a
                    background-color: rgba(255,255,255,0.7)
                    border-radius: 10px
                    line-height: 30px
                    border: solid 1px rgba(0,0,0,0.4)
                    padding: 0 8px

                    p
                        margin-left: 0
                        color: rgba(0,0,0,0.7)


        section
            
            h1
                font-size: 3rem

            .kicker
                font-size: 1.5rem